button {
  width: 20%; 
  height: 200px;
  font-size: 25px;
  color: red;
  background-color: blue;
  border: none;
}

#wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
}

#points {
  font-size: 25px;
  text-align: center;
}

body {
	background-image: url("../image/dark.png");
	color: red;
}